div.header_container
  h1 Heimdall Code Review

  ul.toolbar
    li.toolbar_item
      a(href='/') Home

    li.toolbar_item
      a(href='/users') Users

    li.toolbar_item
      a(href='/users/create') Create User

    li.toolbar_item
      a(href='/reviews') Reviews

    li.toolbar_item
      a(href='/reviews/create') Create Review

    li.toolbar_item
      a(href='/admin') Admin
