body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#f0f0f0;
}

a {
  color: #00B7FF;
}

.page_container {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#f0f0f0;

}

.header_container {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border:1px solid green;
  color:green;
  background-color:#b0b0b0;

}

.login_container {
  border:1px solid green;
  width: 400px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  /* in order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* positions the label text beside the input */
  text-align: right;
}

label + input {
  width: 30%;
  /* large margin-right to force the next element to the new-line
     and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
  float: right;
}

.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  width: 100%;
  height: 30px;
  border: 1px solid blue;
}

.toolbar_item {
  border: 1px solid red;
  width:100px;
  height:100%;
  float: left;
  text-align: left;

}

.review_page {
  background-color: #808080;
}

.review_container {
  margin: 5px;
  background-color: #909090;
  border: 1px solid #505050;
}
.review_headerline {
  margin: 10px;
  font-size: 21px;
  font-weight: bold;
}
.review_metadata {
  margin: 10px;
}
.review_body {
  margin: 10px;
  padding: 10px;
  border: 1px solid #808080;
  background-color: #d0d0d0;

}

.review_comments_container {
  margin: 10px 15px 10px 15px;
}
.review_comment{
  border: 1px solid #505050;
  background-color: #909090;
  margin-bottom: 10px;
}
.review_comment_headerline {
  margin: 10px;
}
.review_comment_headerline_name {
  font-size: 14px;
}
.review_comment_headerline_time {
  font-size: 11px;
}
.review_comment_body {
  margin: 10px;
  padding: 10px;
  border: 1px solid #808080;
  background-color: #d0d0d0;
}
.review_new_comment_container {
  margin: 10px;
  background-color: #909090;
}